<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>COVID-19</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<input type="checkbox" name="" id="check">
		<label id="icone" for="check"><img src="images/icone.png"> </label>
		
		<div class="barra">
			<nav>
				<a href="/"><div class="link">Home</div></a>
				<% if(login){%>
					<div class="addMenu" >
						<a href="/pacientes" style="color: #e9f4f9;">Pacientes </a>
						<a href="/addPaciente" style="float: right;margin-top: -3px;"><img src="images/mais.png" style="width: 30px;"> </a> 
					</div>

				<%}%>
				<div class="addMenu" >
					<a href="/locais" style="color: #e9f4f9;">Locais </a>
					<% if(login){%>
					<a href="/addlocal" style="float: right;margin-top: -3px;"><img src="images/mais.png" style="width: 30px;"> </a> 
					<%}%>
				</div>
				<% if(login){%>
					<a href="/logout"><div class="link">Sair</div></a>
				<%}else{%>
					<a href="/admin"><div class="link">Login</div></a>
				<%}%>

			</nav>
	
		</div>
		<div class="logo" style="margin-bottom: 20px;">
			<img src="images/mascara.png" style="margin-top: 2px;height: 72px;	margin-bottom: 2px;margin-left: 50%;margin-left: 38vw;"/>
		</div>

	    <div class="container">
			<% if(pacientes.length > 0){ %>
				<% for(var i = 0; i < pacientes.length; i++){ %>
	    			<div class="row">
	    				<div class="col-md-12">
	    					<div class="noticia_wrapper">
								<a href="paciente?IDPaciente=<%= pacientes[i].IDPaciente %>" class="noticia_titulo"><%=pacientes[i].NomePaciente%></a>
		    					<span class="noticia_autor">CPF: <%= pacientes[i].CPFPaciente %></span>		    					
		    					<span class="noticia_data">RG: <%= pacientes[i].RGPaciente %></span>
		    					<p class="noticia_resumo"></p>
								
		    				</div>
		    			</div>
				  	</div>	
				<% } %>				
			<% } %>
		</div>
		
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>

</html>