<!doctype html>
<html>
  <body style="text-align: center;margin-top: 15vh;">
    <img src="images/mascara.png" style="margin-top: 2px;height: 78px;	margin-bottom: 2px;"/>
    <h1>Login</h1>
    
    <form action="/login/vericar" method="POST">
      <input name="usuario" type="text" style="border-radius: 3px;"/><br />
      <input name="senha" type="password" style="border-radius: 3px;margin-top: 12px;" /><br />
      <input type="submit" value="Login" style="margin-top: 13px;width: 98px;" />
    </form>
      <p id="erro" style="display: none;">
        <label style="color:Red">Usuario Invalido</label>
      </p>
  </body>
  <script>
    var url_atual = window.location.href;
    resultado = url_atual.substring(url_atual.indexOf("?") + 1);
    if(resultado === "erro"){
      document.getElementById('erro').style.display = ""
    }
  </script>
</html>