body{
	background:#F8F8F8;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.noticia_wrapper{
	background-color: #FFF;
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.navbar{
	background:#FFF;
}

.noticia_autor{
	color: #FF7C26;
	display: block;
}

.noticia_titulo{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.noticia_data{
	color:#727272;
	display: block;
}

.noticia_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
	max-width: 100%;
}

.form-group{
	display: flex;
}
	
.col-md-12{
	max-width: 60vw;
	margin-left: 10%;
}

.form-group label:first-child{
	width: 200px;
	text-align: right;
	padding-right: 15px;
	justify-content:center;
	padding-top: 7px;

}

.btn-add{
	margin-left: 19vw;
    width: 27vw;
	margin-bottom: 31px;	
	background-color: rgb(47, 108, 221);
	color: white;
	font-weight: bold;
}

.btn-edit{
	background-color: rgb(59, 207, 29);
	color: white;
	font-weight: bold;
	width: 140px;
}

.btn-delet{
	background-color: rgb(209, 30, 30);
	color: white;
	font-weight: bold;
	width: 140px;
}

.form-group select{
	width: -webkit-fill-available;
    border-radius: 4px;
    height: 37px;
    color: #555;
    border-color: #CCC;
}

.btn-add-local{
	margin-left:33%;
	background-color: rgb(47, 108, 221);
	color: white;
	width: 230px;
	margin-bottom: 10px;
}

.btn-add-paciente{
	margin-left:33%;
	background-color: rgb(47, 108, 221);
	color: white;
	width: 230px;
	margin-bottom: 10px;
}

.statistica{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.status{
	padding-left: 30px;
}

.nav li{
	margin-top: 15px;
}